# This {{ .chezmoi.config.mode }} contains fish universal variable definitions.
# VERSION{{ .chezmoi.pathListSeparator }} 3.0
SETUVAR __done_min_cmd_duration{{ .chezmoi.pathListSeparator }}10000
SETUVAR __done_notification_urgency_level{{ .chezmoi.pathListSeparator }}low
SETUVAR __fish_initialized{{ .chezmoi.pathListSeparator }}4300
SETUVAR pure_begin_prompt_with_current_directory{{ .chezmoi.pathListSeparator }}true
SETUVAR pure_check_for_new_release{{ .chezmoi.pathListSeparator }}false
SETUVAR pure_color_at_sign{{ .chezmoi.pathListSeparator }}pure_color_mute
SETUVAR pure_color_aws_profile{{ .chezmoi.pathListSeparator }}pure_color_{{ .chezmoi.config.{{ .chezmoi.command }}.secrets }}
SETUVAR pure_color_command_duration{{ .chezmoi.pathListSeparator }}pure_color_{{ .chezmoi.config.{{ .chezmoi.command }}.secrets }}
SETUVAR pure_color_current_directory{{ .chezmoi.pathListSeparator }}pure_color_primary
SETUVAR pure_color_danger{{ .chezmoi.pathListSeparator }}red
SETUVAR pure_color_dark{{ .chezmoi.pathListSeparator }}black
SETUVAR pure_color_exit_status{{ .chezmoi.pathListSeparator }}pure_color_danger
SETUVAR pure_color_{{ .chezmoi.config.git.command }}_branch{{ .chezmoi.pathListSeparator }}pure_color_mute
SETUVAR pure_color_{{ .chezmoi.config.git.command }}_dirty{{ .chezmoi.pathListSeparator }}pure_color_mute
SETUVAR pure_color_{{ .chezmoi.config.git.command }}_stash{{ .chezmoi.pathListSeparator }}pure_color_info
SETUVAR pure_color_{{ .chezmoi.config.git.command }}_unpulled_commits{{ .chezmoi.pathListSeparator }}pure_color_info
SETUVAR pure_color_{{ .chezmoi.config.git.command }}_unpushed_commits{{ .chezmoi.pathListSeparator }}pure_color_info
SETUVAR pure_color_hostname{{ .chezmoi.pathListSeparator }}pure_color_mute
SETUVAR pure_color_info{{ .chezmoi.pathListSeparator }}cyan
SETUVAR pure_color_jobs{{ .chezmoi.pathListSeparator }}pure_color_normal
SETUVAR pure_color_k8s_context{{ .chezmoi.pathListSeparator }}pure_color_success
SETUVAR pure_color_k8s_namespace{{ .chezmoi.pathListSeparator }}pure_color_primary
SETUVAR pure_color_k8s_prefix{{ .chezmoi.pathListSeparator }}pure_color_info
SETUVAR pure_color_light{{ .chezmoi.pathListSeparator }}white
SETUVAR pure_color_mute{{ .chezmoi.pathListSeparator }}brblack
SETUVAR pure_color_nixdevshell_prefix{{ .chezmoi.pathListSeparator }}pure_color_info
SETUVAR pure_color_nixdevshell_symbol{{ .chezmoi.pathListSeparator }}pure_color_mute
SETUVAR pure_color_normal{{ .chezmoi.pathListSeparator }}normal
SETUVAR pure_color_prefix_root_prompt{{ .chezmoi.pathListSeparator }}pure_color_danger
SETUVAR pure_color_primary{{ .chezmoi.pathListSeparator }}blue
SETUVAR pure_color_prompt_on_error{{ .chezmoi.pathListSeparator }}pure_color_danger
SETUVAR pure_color_prompt_on_success{{ .chezmoi.pathListSeparator }}pure_color_success
SETUVAR pure_color_success{{ .chezmoi.pathListSeparator }}magenta
SETUVAR pure_color_system_time{{ .chezmoi.pathListSeparator }}pure_color_mute
SETUVAR pure_color_username_normal{{ .chezmoi.pathListSeparator }}pure_color_mute
SETUVAR pure_color_username_root{{ .chezmoi.pathListSeparator }}pure_color_light
SETUVAR pure_color_virtualenv{{ .chezmoi.pathListSeparator }}pure_color_mute
SETUVAR pure_color_{{ .chezmoi.config.{{ .chezmoi.command }}.secrets }}{{ .chezmoi.pathListSeparator }}yellow
SETUVAR pure_convert_exit_status_to_signal{{ .chezmoi.pathListSeparator }}false
SETUVAR pure_enable_aws_profile{{ .chezmoi.pathListSeparator }}true
SETUVAR pure_enable_container_detection{{ .chezmoi.pathListSeparator }}true
SETUVAR pure_enable_{{ .chezmoi.config.git.command }}{{ .chezmoi.pathListSeparator }}true
SETUVAR pure_enable_k8s{{ .chezmoi.pathListSeparator }}false
SETUVAR pure_enable_nixdevshell{{ .chezmoi.pathListSeparator }}false
SETUVAR pure_enable_single_line_prompt{{ .chezmoi.pathListSeparator }}false
SETUVAR pure_enable_virtualenv{{ .chezmoi.pathListSeparator }}true
SETUVAR pure_reverse_prompt_symbol_in_vimode{{ .chezmoi.pathListSeparator }}true
SETUVAR pure_separate_prompt_on_error{{ .chezmoi.pathListSeparator }}false
SETUVAR pure_shorten_prompt_current_directory_length{{ .chezmoi.pathListSeparator }}0
SETUVAR pure_shorten_window_title_current_directory_length{{ .chezmoi.pathListSeparator }}0
SETUVAR pure_show_exit_status{{ .chezmoi.pathListSeparator }}false
SETUVAR pure_show_jobs{{ .chezmoi.pathListSeparator }}false
SETUVAR pure_show_numbered_{{ .chezmoi.config.git.command }}_indicator{{ .chezmoi.pathListSeparator }}false
SETUVAR pure_show_prefix_root_prompt{{ .chezmoi.pathListSeparator }}false
SETUVAR pure_show_subsecond_command_duration{{ .chezmoi.pathListSeparator }}false
SETUVAR pure_show_system_time{{ .chezmoi.pathListSeparator }}false
SETUVAR pure_symbol_aws_profile_prefix{{ .chezmoi.pathListSeparator }}
SETUVAR pure_symbol_container_prefix{{ .chezmoi.pathListSeparator }}
SETUVAR pure_symbol_exit_status_prefix{{ .chezmoi.pathListSeparator }}\x7c
SETUVAR pure_symbol_exit_status_separator{{ .chezmoi.pathListSeparator }}\x7c
SETUVAR pure_symbol_{{ .chezmoi.config.git.command }}_dirty{{ .chezmoi.pathListSeparator }}\x2a
SETUVAR pure_symbol_{{ .chezmoi.config.git.command }}_stash{{ .chezmoi.pathListSeparator }}\u2261
SETUVAR pure_symbol_{{ .chezmoi.config.git.command }}_unpulled_commits{{ .chezmoi.pathListSeparator }}\u21e3
SETUVAR pure_symbol_{{ .chezmoi.config.git.command }}_unpushed_commits{{ .chezmoi.pathListSeparator }}\u21e1
SETUVAR pure_symbol_k8s_prefix{{ .chezmoi.pathListSeparator }}\u2638
SETUVAR pure_symbol_nixdevshell_prefix{{ .chezmoi.pathListSeparator }}\u2744\ufe0f
SETUVAR pure_symbol_prefix_root_prompt{{ .chezmoi.pathListSeparator }}\x23
SETUVAR pure_symbol_prompt{{ .chezmoi.pathListSeparator }}\u276f
SETUVAR pure_symbol_reverse_prompt{{ .chezmoi.pathListSeparator }}\u276e
SETUVAR pure_symbol_ssh_prefix{{ .chezmoi.pathListSeparator }}
SETUVAR pure_symbol_title_bar_separator{{ .chezmoi.pathListSeparator }}\x2d
SETUVAR pure_symbol_virtualenv_prefix{{ .chezmoi.pathListSeparator }}
SETUVAR pure_threshold_command_duration{{ .chezmoi.pathListSeparator }}5
SETUVAR pure_truncate_prompt_current_directory_keeps{{ .chezmoi.pathListSeparator }}\x2d1
SETUVAR pure_truncate_window_title_current_directory_keeps{{ .chezmoi.pathListSeparator }}\x2d1
