include ".{{ .chezmoi.pathSeparator }}cfg{{ .chezmoi.pathSeparator }}animation.kdl"
include ".{{ .chezmoi.pathSeparator }}cfg{{ .chezmoi.pathSeparator }}autostart.kdl"
include ".{{ .chezmoi.pathSeparator }}cfg{{ .chezmoi.pathSeparator }}keybinds.kdl"
include ".{{ .chezmoi.pathSeparator }}cfg{{ .chezmoi.pathSeparator }}input.kdl"
include ".{{ .chezmoi.pathSeparator }}cfg{{ .chezmoi.pathSeparator }}display.kdl"
include ".{{ .chezmoi.pathSeparator }}cfg{{ .chezmoi.pathSeparator }}layout.kdl"
include ".{{ .chezmoi.pathSeparator }}cfg{{ .chezmoi.pathSeparator }}rules.kdl"
include ".{{ .chezmoi.pathSeparator }}cfg{{ .chezmoi.pathSeparator }}misc.kdl"
include ".{{ .chezmoi.pathSeparator }}cfg{{ .chezmoi.pathSeparator }}kanshi.kdl"
include ".{{ .chezmoi.pathSeparator }}cfg{{ .chezmoi.pathSeparator }}window.kdl"
include ".{{ .chezmoi.pathSeparator }}noctalia.kdl"

