layout {

    focus-ring {
        active-color   "#404872"
        inactive-color "#fbf8fc"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#404872"
        inactive-color "#fbf8fc"
        urgent-color   "#ba1a1a"
    }


    tab-indicator {
        active-color   "#404872"
        inactive-color "#58608b"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#40487280"
    }
}

recent-windows {
    highlight {
        active-color "#404872"
        urgent-color "#ba1a1a"
    }
}
