layout {

    focus-ring {
        active-color   "#c4c4e2"
        inactive-color "#131315"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#c4c4e2"
        inactive-color "#131315"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#c4c4e2"
        inactive-color "#2a2c43"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#c4c4e280"
    }
}

recent-windows {
    highlight {
        active-color "#c4c4e2"
        urgent-color "#ffb4ab"
    }
}
