layout {

    focus-ring {
        active-color   "#a1daff"
        inactive-color "#0f1418"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#a1daff"
        inactive-color "#0f1418"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#a1daff"
        inactive-color "#4bc2ff"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#a1daff80"
    }
}

recent-windows {
    highlight {
        active-color "#a1daff"
        urgent-color "#ffb4ab"
    }
}
