function nba --wraps='npm run build{{ .chezmoi.pathListSeparator }}all' --wraps='tm && npm run build{{ .chezmoi.pathListSeparator }}all' --description 'alias nba=tm && npm run build{{ .chezmoi.pathListSeparator }}all'
    tm && npm run build{{ .chezmoi.pathListSeparator }}all $argv
end
