accountsservice
alacritty
alsa-firmware
alsa-plugins
alsa-utils
amd-ucode
asusctl
audacity
awesome-terminal-fonts
base
base-devel
bash-completion
bazaar
bind
bitwarden
bluez
bluez-hid2hci
bluez-libs
bluez-obex
bluez-utils
bpftune-{{ .chezmoi.config.git.command }}
btop
btrfs-assistant
btrfs-progs
cachy-update
{{ .chezmoi.osRelease.id }}-fish-config
{{ .chezmoi.osRelease.id }}-grub-theme
{{ .chezmoi.osRelease.id }}-hello
{{ .chezmoi.osRelease.id }}-hooks
{{ .chezmoi.osRelease.id }}-kernel-manager
{{ .chezmoi.osRelease.id }}-keyring
{{ .chezmoi.osRelease.id }}-micro-settings
{{ .chezmoi.osRelease.id }}-mirrorlist
{{ .chezmoi.osRelease.id }}-niri-noctalia
{{ .chezmoi.osRelease.id }}-packageinstaller
{{ .chezmoi.osRelease.id }}-plymouth-bootanimation
{{ .chezmoi.osRelease.id }}-rate-mirrors
{{ .chezmoi.osRelease.id }}-settings
{{ .chezmoi.osRelease.id }}-v3-mirrorlist
{{ .chezmoi.osRelease.id }}-v4-mirrorlist
{{ .chezmoi.osRelease.id }}-wallpapers
{{ .chezmoi.osRelease.id }}-zsh-config
cantarell-fonts
chezmoi
chwd
cpu-x
cpupower
cryptsetup
cups
cups-filters
cups-pdf
device-mapper
diffutils
dmidecode
dmraid
dnsmasq
{{ .chezmoi.config.docker.command }}
{{ .chezmoi.config.docker.command }}-compose
dosfstools
duf
dvgrab
e2fsprogs
efibootmgr
efitools
egl-wayland
emote
espeak-ng
ethtool
ex-vi-compat
exfatprogs
f2fs-tools
fastfetch
ffmpegthumbnailer
firefox
flatpak
foomatic-db
foomatic-db-engine
foomatic-db-gutenprint-ppds
foomatic-db-nonfree
foomatic-db-nonfree-ppds
foomatic-db-ppds
frei0r-plugins
fsarchiver
ghostscript
{{ .chezmoi.config.git.command }}
glances
gparted
grub
grub-btrfs-support
grub-customizer-{{ .chezmoi.config.git.command }}
grub-hook
gsfonts
gst-libav
gst-plugin-pipewire
gst-plugin-va
gst-plugins-bad
gst-plugins-ugly
gutenprint
gvfs-mtp
hdparm
hplip
hwdetect
hwinfo
inetutils
iptables
iwd
jfsutils
kanshi
kdenlive
less
lib32-nvidia-utils
lib32-opencl-nvidia
lib32-vulkan-icd-loader
lib32-vulkan-radeon
libdvdcss
libgsf
libmythes
libopenraw
libreoffice-fresh
libva-nvidia-driver
{{ .chezmoi.os }}-{{ .chezmoi.osRelease.id }}-lts
{{ .chezmoi.os }}-{{ .chezmoi.osRelease.id }}-lts-headers
{{ .chezmoi.os }}-{{ .chezmoi.osRelease.id }}-lts-nvidia-open
{{ .chezmoi.os }}-firmware
logrotate
lsb-release
lsscsi
lvm2
man-db
man-pages
mdadm
meld
mesa-utils
micro
mkinitcpio
modemmanager
mongodb-bin
mongodb-compass
mongodb-tools-bin
mousetweaks
movit
mtools
nano
nano-syntax-highlighting
neovim
netctl
networkmanager
networkmanager-openvpn
nfs-utils
nilfs-utils
noto-fonts
noto-fonts-cjk
noto-fonts-emoji
nss-mdns
nvidia-prime
nvidia-settings
nvidia-utils
obs-studio
opencl-nvidia
opencv
openssh
opentimelineio
opus-tools
orca
os-prober
pacman-contrib
paru
pavucontrol
{{ .chezmoi.config.interpreters.pl.command }}
pipewire-alsa
pipewire-pulse
pkgfile
plocate
plymouth
poppler-glib
power-profiles-daemon
profile-sync-daemon
pv
python
python-defusedxml
python-packaging
python-pyqt5
python-reportlab
{{ .chezmoi.config.rbw.command }}
rebuild-detector
reflector
ripgrep
rsync
s-nail
sddm
sg3_utils
shelly
smartmontools
snapper
sof-firmware
sox
splix
sudo
supergfxctl
switcheroo-control
sysfsutils
system-config-printer
terraform
texinfo
ttf-bitstream-vera
ttf-dejavu
ttf-liberation
ttf-meslo-nerd
ttf-opensans
ufw
ufw-extras
unrar
unzip
upower
usb_modeswitch
usbutils
valent-{{ .chezmoi.config.git.command }}
vim
visual-studio-code-bin
vlc-plugins-all
vulkan-icd-loader
vulkan-radeon
wget
which
wireplumber
wmctrl
wpa_supplicant
wtype
xdg-user-dirs
xf86-video-amdgpu
xfsprogs
xl2tpd
xorg-xhost
yay
zoxide
