binds {

    {{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }} ────────────── Keybindings ──────────────
    {{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }} https{{ .chezmoi.pathListSeparator }}{{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }}github.com{{ .chezmoi.pathSeparator }}YaLTeR{{ .chezmoi.pathSeparator }}niri{{ .chezmoi.pathSeparator }}wiki{{ .chezmoi.pathSeparator }}Configuration{{ .chezmoi.pathListSeparator }}-Key-Bindings

    {{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }} ─── noctalia-shell keybinds ───
    {{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }} https{{ .chezmoi.pathListSeparator }}{{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }}docs.noctalia.dev{{ .chezmoi.pathSeparator }}getting-started{{ .chezmoi.pathSeparator }}keybinds{{ .chezmoi.pathSeparator }}

    Mod+Shift+ESCAPE                     { show-hotkey-overlay; }

    {{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }} ─── Applications ───
    Mod+Return                          hotkey-overlay-title="Open Terminal{{ .chezmoi.pathListSeparator }} Alacritty" { spawn "alacritty"; }
    Mod+CTRL+Return                     hotkey-overlay-title="Open App Launcher{{ .chezmoi.pathListSeparator }} noctalia launcher" { spawn-sh "qs -c noctalia-shell ipc call launcher toggle"; }
    Mod+B                               hotkey-overlay-title="Open Browser{{ .chezmoi.pathListSeparator }} firefox" { spawn "firefox"; }
    Mod+ALT+L                           hotkey-overlay-title="Lock Screen{{ .chezmoi.pathListSeparator }} noctalia lock" { spawn-sh "qs -c noctalia-shell ipc call lockScreen lock"; }
    Mod+Shift+Q                         hotkey-overlay-title="Session Menu{{ .chezmoi.pathListSeparator }} noctalia sessionMenu" { spawn-sh "qs -c noctalia-shell ipc call sessionMenu toggle"; }
    Mod+C                               hotkey-overlay-title="Open VS-Code{{ .chezmoi.pathListSeparator }} Code" { spawn "code"; }

    {{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }} Please choose your own {{ .chezmoi.config.mode }} manager.
    Mod+E                               hotkey-overlay-title="File Manager{{ .chezmoi.pathListSeparator }} Nautilus" { spawn "nautilus"; }

    Ctrl+ALT+E                          hotkey-overlay-title="Emoji Picker{{ .chezmoi.pathListSeparator }} Emote" { spawn "emote"; }    

    {{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }} ─── Media Controls ───
    XF86AudioRaiseVolume                allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume increase"; }
    XF86AudioLowerVolume                allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume decrease"; }
    XF86AudioMute                       allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume muteOutput"; }
    XF86AudioMicMute                    allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume muteInput"; }
    XF86AudioNext                       allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media next"; }
    XF86AudioPrev                       allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media previous"; }
    XF86AudioPlay                       allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media playPause"; }
    XF86AudioPause                      allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media playPause"; }

    {{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }} ─── Brightness Controls ───
    XF86MonBrightnessUp                 allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call brightness increase"; }
    XF86MonBrightnessDown               allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call brightness decrease"; }

    {{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }} ─── Window Movement and Focus ───
    Mod+Q                               { close-window; }
    Mod+W	                        { maximize-column; }
    Mod+Shift+W	                        { maximize-window-to-edges; }
    

    Mod+Left                            { focus-column-left; }
    Mod+H                               { focus-column-left; }
    Mod+WheelScrollDown                 { focus-column-left; }
    Mod+Right                           { focus-column-right; }
    Mod+L                               { focus-column-right; }
    Mod+WheelScrollUp                   { focus-column-right; }
    Mod+Up                              { focus-window-up; }
    Mod+K                               { focus-window-up; }
    Mod+Down                            { focus-window-down; }
    Mod+J                               { focus-window-down; }

    Mod+CTRL+Left                       { move-column-left; }
    Mod+CTRL+H                          { move-column-left; }
    Mod+CTRL+Right                      { move-column-right; }
    Mod+CTRL+L                          { move-column-right; }
    Mod+CTRL+UP                         { move-window-up; }
    Mod+CTRL+K                          { move-window-up; }
    Mod+CTRL+Down                       { move-window-down; }
    Mod+CTRL+J                          { move-window-down; }

    Mod+Home                            { focus-column-first; }
    Mod+End                             { focus-column-last; }
    Mod+CTRL+Home                       { move-column-to-first; }
    Mod+CTRL+End                        { move-column-to-last; }

    Mod+ALT+Left                      { focus-monitor-left; }
    Mod+ALT+Right                     { focus-monitor-right; }
    Mod+ALT+UP                        { focus-monitor-up; }
    Mod+ALT+Down                      { focus-monitor-down; }

    Mod+CTRL+ALT+Left                 { move-column-to-monitor-left; }
    Mod+CTRL+ALT+Right                { move-column-to-monitor-right; }
    Mod+CTRL+ALT+UP                   { move-column-to-monitor-up; }
    Mod+CTRL+ALT+Down                 { move-column-to-monitor-down; }

    {{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }} ─── Workspace Switching ───
    Mod+Shift+WheelScrollDown            cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Shift+WheelScrollUp              cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight                { focus-column-right; }
    Mod+WheelScrollLeft                 { focus-column-left; }
    Mod+CTRL+WheelScrollRight           { move-column-right; }
    Mod+CTRL+WheelScrollLeft            { move-column-left; }

    Mod+CTRL+WheelScrollDown           { focus-column-right; }
    Mod+CTRL+WheelScrollUp             { focus-column-left; }
    Mod+CTRL+Shift+WheelScrollDown      { move-column-right; }
    Mod+CTRL+Shift+WheelScrollUp        { move-column-left; }

    Mod+1                               { focus-workspace 1; }
    Mod+2                               { focus-workspace 2; }
    Mod+3                               { focus-workspace 3; }
    Mod+4                               { focus-workspace 4; }
    Mod+5                               { focus-workspace 5; }
    Mod+6                               { focus-workspace 6; }
    Mod+7                               { focus-workspace 7; }
    Mod+8                               { focus-workspace 8; }
    Mod+9                               { focus-workspace 9; }

    Mod+Shift+1                          { move-column-to-workspace 1; }
    Mod+Shift+2                          { move-column-to-workspace 2; }
    Mod+Shift+3                          { move-column-to-workspace 3; }
    
    Mod+Shift+4                          { move-column-to-workspace 4; }
    Mod+Shift+5                          { move-column-to-workspace 5; }
    Mod+Shift+6                          { move-column-to-workspace 6; }
    Mod+Shift+7                          { move-column-to-workspace 7; }
    Mod+Shift+8                          { move-column-to-workspace 8; }
    Mod+Shift+9                          { move-column-to-workspace 9; }

    Mod+TAB                             { focus-workspace-previous; }

    Mod+Ctrl+Page_Up			{ move-workspace-up; }
    Mod+Ctrl+Page_Down			{ move-workspace-down; }

    {{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }} ─── Layout Controls ───
    Mod+CTRL+F                          { expand-column-to-available-width; }
    Mod+S                               { center-column; }
    Mod+CTRL+W                          { center-visible-columns; }
    Mod+Minus                           { set-column-width "-10%"; }
    Mod+Equal                           { set-column-width "+10%"; }
    Mod+Shift+Minus                     { set-window-height "-10%"; }
    Mod+Shift+Equal                     { set-window-height "+10%"; }

    {{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }} ─── Modes ───
    Mod+T                               { toggle-window-floating; }
    Mod+F                               { fullscreen-window; }
    Mod+D                               { toggle-column-tabbed-display; }

    {{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }} ─── Screenshots ───
    Print                        { screenshot; }
    ALT+Print                        { screenshot-screen; }
    Mod+Print                        { screenshot-window; }

    {{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }} ─── Emergency Escape Key ───
    {{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }} Use this when a fullscreen app blocks your keybinds.
    {{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }} It disables any active keyboard shortcut inhibitor, restoring control.
    Mod+ESCAPE                          allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    {{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }} ─── Exit {{ .chezmoi.pathSeparator }} Power ───
    CTRL+ALT+Delete                     { quit; } {{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }} Also quits Niri
    Mod+Shift+P                         { power-off-monitors; } {{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }} Turn off screens (useful for OLED or privacy)
    Mod+O                               repeat=false { toggle-overview; }
}
