layout {
    gaps 14 {{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }} Gap between windows
        
    center-focused-column "never" {{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }} Don’t {{ .chezmoi.config.color }}-center focused column
    always-center-single-column

    background-color "transparent" {{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }} <- needed for noctalia-shell to set wallpaper

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

	focus-ring {
		width 1.5
	}

    struts {}
}
