    window-rule {
        geometry-corner-radius 20 {{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }} Set every window radius to 20
        clip-to-geometry true
    }

    layer-rule {
        match namespace="^noctalia-wallpaper"
        place-within-backdrop true
    }

    {{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }} Floating Noctalia settings window (v5).
    window-rule {
        match app-id="dev.noctalia.Noctalia"
        open-floating true
        default-column-width { fixed 1080; }
        default-window-height { fixed 920; }
    }
