{{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }} Wiki{{ .chezmoi.pathListSeparator }} https{{ .chezmoi.pathListSeparator }}{{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }}github.com{{ .chezmoi.pathSeparator }}niri-wm{{ .chezmoi.pathSeparator }}niri{{ .chezmoi.pathSeparator }}wiki{{ .chezmoi.pathSeparator }}Configuration{{ .chezmoi.pathListSeparator }}-Named-Workspaces

workspace "Dev" {
}

workspace "Browser" {
}

workspace "Terminal" {
}

workspace "Chat" {
}

workspace "Media" {
}

workspace "Others" {
}

workspace "Notes" {
    open-on-output "eDP-1"
}

{{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }} Wiki{{ .chezmoi.pathListSeparator }} https{{ .chezmoi.pathListSeparator }}{{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }}github.com{{ .chezmoi.pathSeparator }}niri-wm{{ .chezmoi.pathSeparator }}niri{{ .chezmoi.pathSeparator }}wiki{{ .chezmoi.pathSeparator }}Configuration{{ .chezmoi.pathListSeparator }}-Window-Rules
window-rule {
	default-column-width { proportion 0.75; }

	open-on-workspace "Others"
	open-maximized false

	geometry-corner-radius 12
    	clip-to-geometry true
    	tiled-state true

	open-focused true
}

window-rule {
	match app-id="^emote$"
	match app-id="^org.gnome.Nautilus$"

	open-on-workspace "current"
	default-column-width { proportion 0.75; }

	geometry-corner-radius 12
    	clip-to-geometry true
    	tiled-state false

	open-focused true
}




window-rule {
	match title="^Mozilla Firefox$" app-id="^firefox$" 
	open-on-workspace "Browser"
	open-maximized true
}

window-rule {
	match title="Code"
	match title="Compass"
	open-on-workspace "Dev"
	open-maximized true

	{{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }} Deixa a janela transparente (0.1 a 1.0)
	opacity 0.95

	{{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }} Ativa o desfoque atrás da janela (requer Niri v0.1.10+)
}

window-rule {
	match app-id="^Alacritty$"
	
	open-on-workspace "Terminal"
	open-maximized false
	
	
	default-column-width { proportion 0.50; }
}

window-rule {
	match title="Discord" app-id="discord"
	match app-id="^wah-TUodBlfE$" 		{{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }} WhatsApp - Web App
	
	open-on-workspace "Chat"
	open-maximized false

	default-column-width { proportion 0.65; }
}

window-rule {
	match title="Spotify"
	match title="^Vinyl$"
	match title="music"
	match app-id="^wah-E2ZQDVLp$"		{{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }} YouTube - Web App

	open-on-workspace "Media"
	open-maximized false
}

window-rule {
	match app-id="^obsidian$"
	
	opacity 0.95

	open-on-workspace "Notes"
	open-maximized true
}
